@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
body {
  background-image: url('https://static.pexels.com/photos/270348/pexels-photo-270348.jpeg');
}
p {
  font-family: 'Open Sans', Arial, sans-serif;
  color: #ffffff;
}
.title{
  position: relative;
  top: 100px;
  font-size: 25px;
  text-align: center;
}
.subtext{
  position: relative;
  top: 150px;
  font-size: 10px;
  text-align: center;
}
ul{
  list-style-position: inside;
}
li {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1.5em;
  color: #ffffff;
}
.sidebar {
  background-color: #3d3d3d;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 50px;
  position: fixed;
  text-align: center;
  vertical-align: middle;
}
